input[type=checkbox]{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  &+.ui-component{
    &--checkbox{
      width: 15px;
      height: 15px;
      border: 1px solid var(--gray-600);
      background-color: var(--white);
      display: inline-block;
    }
  }
  &:checked+.ui-component{
    &--checkbox{
      background-image: url(../images/checked.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}