.main-menu {
  background-color: var(--white);
  margin-bottom: 30px;

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 60px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border: 1px solid var(--white);
    background-color: var(--primary);

    &.hide {
      display: none;
    }

    &-icon {
      display: block;
      transform: rotate(0deg);
      transition: all .3s ease-in-out;
    }

    &-count {
      border-radius: 50%;
      border: 1px solid var(--white);
      position: absolute;
      top: 50%;
      transform: translate(50%, -50%);
      left: -50%;
      background-color: var(--primary);
      color: var(--white);
      font-size: 400 12px/22px var(--font);
      display: block;
      width: 26px;
      height: 26px;
    }

    &.active {
      .main-menu__burger-icon {
        transform: rotate(-90deg);
      }
    }
  }
}

.menu-character {
  position: relative;
  display: flex;
  padding: 3px 0;
  margin-bottom: 10px;
  z-index: 3;
  @media (max-width: 1200px) {
    display: none;
  }

  .hide {
    display: none;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 26px;
  }

  &__list-hidden {
    position: absolute;
    right: 0;
    top: 100%;
    transition: all .3s ease-in-out;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    width: 80px;

    .menu-character__item {
      .menu-character__btn {
        width: 100%;
        justify-content: space-between;
      }

      .menu-character__submenu {
        .submenu-character__item {
          .submenu-character__category {
            right: 100%;
            left: auto;
          }
        }
      }
    }
  }

  &__list-hidden.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  &__burger {
    background-color: var(--navy-blue);
    position: absolute;
    right: 0;
    width: 55px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-character__burger-icon {
      display: block;
      transition: all .3s ease-in-out;
      transform: rotate(0);
    }

    &-count {
      position: absolute;
      top: 50%;
      left: -50%;
      transform: translate(50%, -50%);
      border: 2px solid var(--white);
      color: var(--white);
      background-color: var(--navy-blue);
      font: 400 14px/20px var(--font);
      width: 26px;
      height: 26px;
      border-radius: 50%;
      text-align: center;
    }

    &.active {
      .menu-character__burger-icon {
        transform: rotate(-90deg);
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    position: relative;
    padding: 0 3px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 5px;

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      background-color: var(--primary);
      clip-path: polygon(100% 18%, 100% 40%, 50% 85%, 0 40%, 0 18%, 50% 65%);
      transform: rotate(0deg);
      transition: all 0.3s ease-in-out;
    }

    &.menu-character__btn--active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__btn-text {
    font: 400 16px/20px var(--font);
    color: var(--gray-800);
    text-transform: uppercase;
  }

  &__submenu {
    position: absolute;
    top: calc(100% + 10px);
  }
}

.submenu-character {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: transparent;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 15px;
  pointer-events: none;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out 0.1s;

  &.submenu-character--show {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    pointer-events: all;
    z-index: 2;
  }

  &__item {
    position: relative;
  }

  &__link {
    transition: all 0.3s ease-in-out;
    padding: 3px 5px;
    border-radius: 5px;
    font: 400 14px/16px var(--font);

    &:hover {
      background-color: var(--primary);
      color: var(--gray-200);
    }

    &.active {
      background-color: var(--primary);
      color: var(--gray-200);
    }
  }

  .submenu-category {
    position: absolute;
    left: 0%;
    top: 0;
    border: 1px solid #c2c2c2;
    box-shadow: 0px 0px 10px transparent;
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px 15px;
    opacity: 0;
    visibility: hidden;
    display: none;
    pointer-events: none;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out 0.1s,
    visibility 0.3s ease-in-out 0.3s;
    width: fit-content;

    &.submenu-category--show {
      left: calc(100% + 10px);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      z-index: 2;
    }

    &__link {
      padding: 3px 5px;
      border-radius: 5px;
      font: 400 14px/16px var(--font);

      &:hover {
        background-color: var(--primary);
        color: var(--gray-200);
      }
    }
  }
}

.menu-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  z-index: 2;
  &__link {
    font: 700 13px/16px var(--font);
    color: var(--gray-800);
    text-transform: uppercase;
    padding: 8px 22px;
    background: #dcdcdc;
    border-radius: 15px;
    display: block;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    @media (max-width: 420px) {
      padding: 8px 10px;
    }
  }

  &__list-visible {
    display: flex;
    gap: 11px;
    width: fit-content;
  }

  &__list-hidden {
    position: absolute;
    right: 0;
    top: calc(100%);
    background-color: #fff;
    border: 1px solid var(--gray-400);
    padding: 5px 10px;
    transform: translateY(20px);
    border-radius: 10px;
    opacity: 0;
    transition: all .2s ease-in-out;

    &.hide {
      display: none;
    }

    &.open {
      transform: translateY(0px);
      opacity: 1;
    }

    .active {
      display: block;
    }

    .menu-category__item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px;
    border:1px solid var(--gray-800);
    background-color: #fff;
    .menu-category__list-item {
      .menu-category__list {
        position: static;
      }
    }
    &.open{
      display: block;
    }
  }

  &__item {
    position: relative;

    &--sale {
      order: 4;

      .menu-category__link {
        color: rgb(181, 28, 145);
      }
    }

    &--production {
      order: 5;

      .menu-category__link {
        color: rgb(42, 85, 200);
      }
    }

    &--finishi {
      order: 6;
    }

    &--tur {
      order: 7
    }

    &--project {
      order: 8;
    }

    &:hover {
      .menu-category__link {
        background-color: #fff;
      }
    }
    &.active{
      .menu-category__link{
        background-color: #fff;
      }
    }
  }
}